// Version of the container
params.contVers = '1.0.4'

manifest.defaultBranch = 'main'

// List of valid drugs names
includeConfig 'config/drugs.config'

profiles {

  standard {
    docker.enabled = true
    docker.runOptions = '--cpus 0.000'

    params.contPfx = ''
  }

  O2 {
    singularity.enabled    = true
    singularity.autoMounts = true
    singularity.runOptions = '-C'
    singularity.cacheDir  = '/n/groups/lsp/mcmicro/singularity'

    params.contPfx = 'docker://'

    process {
      errorStrategy = 'retry'
      maxRetries    = 5

      withName:accuracy {
        executor = 'slurm'
        queue    = 'short'
        cpus     = 1
        time     = '6h'
        memory   = '1GB'
      }
    }
  }
}
