params.drugs = [
  "A-1210477",
  "ABT-737",
  "AZD7762",
  "BJP-6-5-3",
  "BMS-265246",
  "BSJ-01-175",
  "BSJ-03-123",
  "BSJ-03-124",
  "CFI-400945",
  "E17",
  "FMF-03-145-1",
  "FMF-03-146-1",
  "FMF-04-107-2",
  "FMF-04-112-1",
  "GSK2334470",
  "INK128",
  "LY3023414",
  "MFH-2-90",
  "MK-1775",
  "PF-4708671",
  "Pin1-3",
  "R0-3306",
  "SHP099",
  "SY-1365",
  "TGX221",
  "THZ-P1-2",
  "THZ-P1-2R",
  "THZ1",
  "THZ531",
  "YKL-5-124",
  "ZZ1-33B",
  "abemaciclib",
  "alpelisib",
  "alvocidib",
  "buparlisib",
  "cabozantinib",
  "capivasertib",
  "cediranib",
  "ceralasertib",
  "ceritinib",
  "dasatinib",
  "dinaciclib",
  "doxorubicin",
  "everolimus",
  "ipatasertib",
  "luminespib",
  "neratinib",
  "olaparib",
  "paclitaxel",
  "palbociclib",
  "pictilisib",
  "prexasertib",
  "ribociclib",
  "rucaparib",
  "saracatinib",
  "senexin-B",
  "taselisib",
  "tivantinib",
  "torin2",
  "trametinib",
  "ulixertinib",
  "vistusertib",
  "volasertib",
  "vorinostat"
]
