params.drugs = [
  "A-1210477",
  "ABT-737",
  "AZD1775",
  "AZD2014",
  "AZD5363",
  "AZD6738",
  "AZD7762",
  "Abemaciclib/LY2835219"
/*  "Alpelisib/BYL719",
  "BJP-6-5-3",
  "BMS-265246",
  "BSJ-01-175",
  "BSJ-03-123",
  "BSJ-03-124",
  "BVD523",
  "Buparlisib/NVP-BKM120",
  "CFI-400945",
  "Cabozantinib",
  "Cediranib/AZD2171",
  "Ceritinib/LDK378",
  "Dasatinib",
  "Dinaciclib/SCH727965",
  "Doxorubicin",
  "E17",
  "Everolimus",
  "FMF-03-145-1",
  "FMF-03-146-1",
  "FMF-04-107-2",
  "FMF-04-112-1",
  "Flavopiridol",
  "GSK2334470",
  "INK128/MLN0128",
  "Ipatasertib/GDC0068",
  "LEE011/Ribociclib",
  "LY2606368",
  "LY3023414",
  "Luminespib/NVP-AUY922",
  "MFH-2-90",
  "Neratinib/HKI272",
  "Olaparib/AZD2281",
  "PF-4708671",
  "Paclitaxel",
  "Palbociclib/PD0332991",
  "Pictilisib/GDC0941",
  "Pin1-3",
  "R0-3306",
  "Rucaparib",
  "SHP099",
  "SY-1365",
  "Saracatinib/AZD0530",
  "TGX221",
  "THZ-P1-2",
  "THZ-P1-2R",
  "THZ1",
  "THZ531",
  "Taselisib/GDC0032",
  "Tivantinib/ARQ197",
  "Torin2",
  "Trametinib/GSK1120212",
  "Volasertib/BI6727",
  "Vorinostat",
  "YKL-5-124",
  "ZZ1-33B",
  "senexin b"*/
]
